* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: white;
}

.nav-links {
  margin: auto;
  text-align: center;
}

.list-of-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.country {
  width: 24%;
  text-align: left;
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.country img {
  width: 100%;
}

.detailed {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  background-color: white;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
  font-size: 2rem;
  justify-content: space-between;
  box-shadow: 5px 5px 15px 5px #000000;
}

.detailed img {
  width: 50%;
}

.text {
  width: 45%;
}